<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="methods" thread-count="3">
  <test name="PositiveTests">
    <classes>
      <class name="tests.CreatePlayerTest"/>
      <class name="tests.GetAllPlayersTest"/>
      <class name='tests.GetPlayerByPlayerIdTest'/>
    </classes>
  </test>
</suite>